<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods00.plist</string>
		<key>title</key>
		<string>男装</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>女装</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>母婴</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>美妆</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods04.plist</string>
		<key>title</key>
		<string>鞋品</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods05.plist</string>
		<key>title</key>
		<string>美食</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods06.plist</string>
		<key>title</key>
		<string>内衣</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods07.plist</string>
		<key>title</key>
		<string>箱包</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods08.plist</string>
		<key>title</key>
		<string>配饰</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods09.plist</string>
		<key>title</key>
		<string>居家日用</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods10.plist</string>
		<key>title</key>
		<string>数码家电</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods11.plist</string>
		<key>title</key>
		<string>文娱车品</string>
	</dict>
</array>
</plist>
