<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>女装</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
				<key>goods_title</key>
				<string>包臀裙</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
				<key>goods_title</key>
				<string>保暖内衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>衬衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>短裙</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>短袖</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>风衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>可爱连衣裙</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>礼服</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>连衣裙</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>上衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>睡衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>外套</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>泳衣</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
