<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>全部</string>
		<key>imageContent</key>
		<string>quanbudindan</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>待收货</string>
		<key>imageContent</key>
		<string>wdgm_icon_daishouhuo</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>待发货</string>
		<key>imageContent</key>
		<string>wdgm_icon_daizhifu</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>已完成</string>
		<key>imageContent</key>
		<string>wdgm_icon_daipingjia</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>已取消</string>
		<key>imageContent</key>
		<string>wdgm_icon_tuikuan</string>
	</dict>
</array>
</plist>
