<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>http://gfs8.gomein.net.cn/T1OMAvBQhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>男装</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T15dxvBsdT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>女装</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T1SGdvBjEj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>母婴</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T10GdvBjAj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>日用</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1IGdvBjDj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>美食</string>
		<key>gridTag</key>
		<string>分期免息 </string>
		<key>gridColor</key>
		<string>#A48A56</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1yGdvBvZj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>配饰</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1cvKvBbhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>家电</string>
		<key>gridTag</key>
		<string>9.9 元起 </string>
		<key>gridColor</key>
		<string>#80BA18</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1VGDvB4Vj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>化妆品</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#FD911B</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1EvKvBv_v1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>箱包</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>文娱车品</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
